
//  ==========================================================================
//  @section: Remove focus;
//  @source: http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links;
//  ==========================================================================

a:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

//  ==========================================================================
//  @section: Box model reset;
//  @source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/;
//  ==========================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    //  ==========================================================================
    //  @section: Remove gray highlight when tapping links in Mobile Safari;
    //  @source: https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
    //  ==========================================================================
    -webkit-tap-highlight-color: rgba($color-black, 0);

    //  ==========================================================================
    //  @section: Prevent mobile safari from resizing text
    //  @source: http://blog.55minutes.com/2012/04/iphone-text-resizing/
    //  ==========================================================================
    text‑size‑adjust: 100%;

    //  ==========================================================================
    //  @section: Remove default styles from input on iOS
    //  @source: https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
    //  ==========================================================================
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//  ==========================================================================
//  @section: Remove default styles from input on iOS
//  @source: http://stackoverflow.com/questions/7599533/ios-forces-rounded-corners-and-glare-on-inputs
//  ==========================================================================

input {
    -webkit-appearance: none;
    border-radius: 0;
}

// ==========================================================================
//  @creator: Fix main element in IE
//  @contact: https://github.com/aFarkas/html5shiv/issues/114#issuecomment-24992081
//  ==========================================================================

main {
    display: block;
}
