
    .header {
        background-color: $color-green;
        padding: $spacing-standard;
    }

    .header__headline {
        color: $color-white;
        font-size: 2rem;
        text-align: center;
    }
